labs4/MatrixService/Service References/ServiceReference1/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Soltys.MatrixService.DTO" />
  <xs:element name="GenerateMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rows" type="xs:int" />
        <xs:element minOccurs="0" name="columns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soltys.MatrixService.DTO" minOccurs="0" name="GenerateMatrixResult" nillable="true" type="q1:MatrixRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMatrixWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rows" type="xs:int" />
        <xs:element minOccurs="0" name="columns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMatrixWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateMatrixWithIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatrixById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatrixByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Soltys.MatrixService.DTO" minOccurs="0" name="GetMatrixByIdResult" nillable="true" type="q2:MatrixRes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>