labs4/MatrixService/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GenerateMatrixService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Soltys.MatrixService.DTO" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGenerateMatrixService_GenerateMatrix_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMatrix" />
  </wsdl:message>
  <wsdl:message name="IGenerateMatrixService_GenerateMatrix_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMatrixResponse" />
  </wsdl:message>
  <wsdl:message name="IGenerateMatrixService_GenerateMatrixWithId_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMatrixWithId" />
  </wsdl:message>
  <wsdl:message name="IGenerateMatrixService_GenerateMatrixWithId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMatrixWithIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGenerateMatrixService_GetMatrixById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatrixById" />
  </wsdl:message>
  <wsdl:message name="IGenerateMatrixService_GetMatrixById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatrixByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IGenerateMatrixService">
    <wsdl:operation name="GenerateMatrix">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenerateMatrixService/GenerateMatrix" message="tns:IGenerateMatrixService_GenerateMatrix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenerateMatrixService/GenerateMatrixResponse" message="tns:IGenerateMatrixService_GenerateMatrix_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateMatrixWithId">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenerateMatrixService/GenerateMatrixWithId" message="tns:IGenerateMatrixService_GenerateMatrixWithId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenerateMatrixService/GenerateMatrixWithIdResponse" message="tns:IGenerateMatrixService_GenerateMatrixWithId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatrixById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenerateMatrixService/GetMatrixById" message="tns:IGenerateMatrixService_GetMatrixById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenerateMatrixService/GetMatrixByIdResponse" message="tns:IGenerateMatrixService_GetMatrixById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGenerateMatrixService" type="tns:IGenerateMatrixService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateMatrix">
      <soap:operation soapAction="http://tempuri.org/IGenerateMatrixService/GenerateMatrix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateMatrixWithId">
      <soap:operation soapAction="http://tempuri.org/IGenerateMatrixService/GenerateMatrixWithId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatrixById">
      <soap:operation soapAction="http://tempuri.org/IGenerateMatrixService/GetMatrixById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenerateMatrixService">
    <wsdl:port name="BasicHttpBinding_IGenerateMatrixService" binding="tns:BasicHttpBinding_IGenerateMatrixService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/GenerateMatrixService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>