labs4/MatrixServiceClient/Service References/ServiceReference1/Soltys.MatrixService.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Soltys.MatrixService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Soltys.MatrixService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MathMatrix">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfArrayOfint" />
      <xs:element minOccurs="0" name="Rows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathMatrix" nillable="true" type="tns:MathMatrix" />
  <xs:complexType name="MatrixRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Matrix" nillable="true" type="tns:MathMatrix" />
      <xs:element minOccurs="0" name="Meta" nillable="true" type="tns:MetaRes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatrixRes" nillable="true" type="tns:MatrixRes" />
  <xs:complexType name="MetaRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetaRes" nillable="true" type="tns:MetaRes" />
</xs:schema>